.karen-screen {
  background: black;
  height: 100vh;
  display: flex;
}
.face {
  width: 100%;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-items: center; */
  /* align-items: center; */
  /* justify-self: center; */
  /* margin: auto; */
}
.eyes {
  display: flex;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  aspect-ratio: 4;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 100%;
  animation: l7 1s infinite linear;
}
@keyframes l7 {
  33% {
    background-size: calc(100% / 3) 0%, calc(100% / 3) 100%, calc(100% / 3) 100%;
  }
  50% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 0%, calc(100% / 3) 100%;
  }
  66% {
    background-size: calc(100% / 3) 100%, calc(100% / 3) 100%, calc(100% / 3) 0%;
  }
}
.eye {
  width: 40px;
  height: 40px;
  border: 3px solid #00f0ff;
  border-radius: 50%;
  background: rgba(0, 255, 255, 0.1);
  margin: 5px;
  box-shadow: 0 0 10px #00f0ff;
}

.mouth {
  width: 100%;
  height: 100%;
}
#mouth-canvas {
  width: 100%;
}
#mouth-audio {
  margin: 20px 0;
}
.mood-analyser {
  position: absolute;
  bottom: 0px;
  right: 0;
}

@keyframes talk {
  0%,
  100% {
    transform: scaleY(1);
    opacity: 0.9;
  }
  50% {
    transform: scaleY(0.4);
    opacity: 0.6;
  }
}

.text-display {
  position: absolute;
  bottom: 15px;
  font-size: 16px;
  animation: flicker 2s infinite;
  text-shadow: 0 0 8px #00f0ff;
}

@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    opacity: 1;
  }
  20%,
  22%,
  24%,
  55% {
    opacity: 0.3;
  }
}
